In [1]:
# question 8

# pop (2 method) 

# a. removes to specified index

list1 = [1,2,3,4,5]
list1.pop()
print(list1)

[1, 2, 3, 4]

In [26]:
# b. remove last if index not specified
list2 = [1,2,3,4,5]
list2.pop(3)
print(list2)

[1, 2, 3, 5]

In [2]:
# del(2 method)

# a. also removes specfied index

list3 = [1,2,3,4,5]
del list3[3]
print(list3)

[1, 2, 3, 5]

In [18]:
list4 = [1,2,3,4,5]
del list4[:]
print(list4)

SyntaxError: invalid syntax (1092023404.py, line 3)

In [40]:
# del keyword can also delete the list completely (it means it shows error)
list5 = [1,2,3,4,5]
del list5
print(list5)

NameError: name 'list5' is not defined

In [3]:
# clear
# this method empty the list

list6=[1,2,3,4,5]
list6.clear()
print(list6)

[]

In [50]:
# 9 revesing a list 
colors = ["voilet", "indigo", "blue", "green"]
colors.reverse()
print(colors)

['green', 'blue', 'indigo', 'voilet']

In [51]:


num = [4,2,5,3,6,1,2,1,2,8,9,7]
num.reverse()
print(num)

[7, 9, 8, 2, 1, 2, 1, 6, 3, 5, 2, 4]

In [57]:
# 10 clone
list8 = [1,2,3,6,4]
list9= list8
list8,list9

([1, 2, 3, 6, 4], [1, 2, 3, 6, 4])

In [58]:
# copy a list

a = [1,2,3,4]
b = a.copy()
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [3]:
# 11  Python | Count occurrences of an element in a list
colors = ["voilet", "green", "indigo", "blue", "green"]
print(colors.count("green"))

2

In [2]:
# 12 find sum and avg.

In [1]:
L = [4, 5, 1, 2, 9, 7, 10, 8]
 
# Finding the sum
sum = sum(L)
 
# Finding the average
avg = sum/len(L)
 
print("sum = ", sum)
print("average = ", avg)

sum =  46
average =  5.75

In [7]:
# 14 multipy all the number in the list

In [6]:
list13= [1,2,3]
a = (list13[0])
b = (list13[1])
c = (list13[2])
multiply = a*b*c
print(multiply)

6

In [ ]:
# 15

In [5]:
# Python program to find smallest 
# number in a list

# list of numbers
list17 = [10, 20, 4, 45, 99]

# sorting the list
list17.sort()

# printing the first element
print("Smallest element is:", list17[0])

Smallest element is: 4

In [10]:
# 16 to find largest number (first sort in decending) 
# 2 ways to solve.
list19 = [2,3,4,2,9,5]
list19.sort()
print(list19)
print(list19[-1])

[2, 2, 3, 4, 5, 9]
9

In [6]:
list18 = [3,5,6,3,9,3,8]
list18.sort(reverse=True)
print(list18)
print(list18[0])

[9, 8, 6, 5, 3, 3, 3]
9

In [11]:
# 17 Python program to find second largest number in a list

In [13]:
list20 = [12,50,90,40,100]
list20.sort()
print(list20)
print(list20[-2])

[12, 40, 50, 90, 100]
90

In [22]:
# 18
# Python program to print Even Numbers in a List
list23 = [1,2,3,4,5,6,7,8,9]
for i in list23:
    if i%2==0:
        print(i)

2
4
6
8

In [21]:
# Python program to print Even Numbers in a List
list23 = [1,2,3,4,5,6,7,8,9]
for i in list23:
    if i%2==0:
        print(i, end=" ")

2 4 6 8

In [7]:
# 19 print odd no. from lists

In [18]:
list21 = [1,2,3,4,5,6,7,8,9]
for i in list21:
    if i%2!=0:
        print(i)

1
3
5
7
9

In [19]:
list21 = [1,2,3,4,5,6,7,8,9]
for i in list21:
    if i%2!=0:
        print(i, end = " ")  # end=" " means print in same line.

1 3 5 7 9

In [23]:
# 20 print even no.in range

In [36]:
# Python program to print all even numbers in range
for i in range(4,15,3):
#here inside range function first no denotes starting,
#second denotes end and
#third denotes the interval
	print(i)

4
7
10
13

TypeError: unsupported operand type(s) for %: 'list' and 'int'